body
{
    background-color:darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.login {
    text-align:center;
    padding: 2em;
    border: solid 2px black;
    border-radius: 5px;
    margin:2em;
}

button {
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 5px;
    border-radius: 5px;
    transition: all 1s;
}