body {
    background-image: url('backgroundRepeatImage.jpg');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    padding: 3em;
}

.login {
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 8em;
    border: solid 2px #fee197;
    border-radius: 5px;
    margin: 2em;
    background-image: url('loginBackGrnd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:4em
}

button {
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 5px;
    border-radius: 5px;
    transition: all 1s;
}